
@{
    ViewBag.Title = "Index";
}

<h2>Добро пожаловать на официальный портал библиотеки №23 г. Кракаду. Для продолжения работы с порталом войдите или зарегистрируйтесь.</h2>


@*<form action="">
        <button type="submit">Приступить к работе </button>btn btn-primary btn-lg"
    </form>
    

    @Html.ActionLink("Приступить к работе", "",  new { @class = "btn btn-default" })*@    

@*<p><a href="~/Views/LibCard/LibraryCard.cshtml" class="btn btn-default" >Приступить к работе</a></p>*@
